.holder {
    float: left;
    margin: 5px;
    background-color:rgba(228, 241, 208, 0.76);
}

.muppet {
    margin: 1px;
}

.wrapper {
    background-color:rgba(228, 241, 208, 0.83);
margin: 10px 0px 10px 0px;
padding: 0px 10px 10px 10px;
}

.label{
    font-weight: 600;
}

body{
    background-color: #6699ff;
    background-image: url("../images/vector-muppets-backgrounds.jpg");
}

p {
    font-weight: 600;
}